.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

html {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}


h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 32px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }



a.mybutton{
display:inline-block;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin:0 0.2em 0.2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-size: 26px;
font-weight:300;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;
}
a.mybutton:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
color:#FFFFFF;
border-color:#FFFFFF;
}

@media all and (max-width:30em){
a.mybutton{
display:block;
margin:0.4em auto;
}
}

textarea.mytextarea {
	width:600px;
	height:180px;
	background-color:#999999;
	border:2px solid #008888;
	font-family:"Roboto", sans-serif;  
    font-size: 26px;
}

div.mylabel {
	font-family:"Roboto", sans-serif;  
    font-size: 24px;
}
